.container {
    background-color: cyan;
    padding: 10px;
    width: fit-content;
    border: 5px solid red;
    border-radius: 10px;
    margin: 0 auto;
}

#display {
    width: 493px;
    height: 71px;
    outline: navajowhite;
    border: 5px solid green;
    font-size: 68px;
    border-radius: 10px;
}

.btns {
    height: 94px;
    width: 123px;
    font-size: 70px;
    outline: navajowhite;
    border: 5px solid red;
    background-color: cornflowerblue;
    border-radius: 10px;
}